<h3>会員情報編集</h3>
<table class="table_field">
  <tbody>
    <tr>
      <th>氏名</th>
      <th></th>
    </tr>
    <tr>
      <th>カナ</th>
      <th></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th></th>
    </tr>
    <tr>
      <th>住所</th>
      <th></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th></th>
    </tr>
  </tbody>
</table>
<%= link_to "編集内容を保存" %>