<h3>マイページ</h3>
<h3>登録情報</h3>
<%= link_to "編集する", root_path %>
<table boder="1" >
  <tbody>
    <tr>
      <th>氏名</th>
      <th></th>
    </tr>
    <tr>
      <th>カナ</th>
      <th></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th></th>
    </tr>
    <tr>
      <th>住所</th>
      <th></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th></th>
    </tr>
  </tbody>
</table>
<%= link_to "一覧を見る", root_path %>
<p>注文履歴</p>
<%= link_to "一覧を見る", root_path　%>

