<div class="container">
  <div class="row">
    <div class="col-md-3" style="background-color: orange;">
      <h4>ジャンル検索</h4>
      <p>ケーキ</p>
      <p>焼き菓子</p>
      <p>プリン</p>
      <p>キャンディ</p>
    </div>
    <div class="mx-auto">
      <div class="explanation">
        <p>
          <span>
          ようこそながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
          </span>
        </p>
      </div>
    </div>
</div>

  <h2　class="new_items">新着商品</h2>
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <p>商品image</p>
              <p>商品名</p>
              <p>¥oooo</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to "全ての商品を見る>>", items_path %>
</div>