<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-7 px-5 px-sm-0 mx-auto">
      <h3>会員一覧</h3>
      <table class="table_field">
      <% @customers.each do |customer| %>
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= customer.id %></td>
            <td><%= customer.name %></td>
            <td><%= customer.email %></td>
            <td><%#= customer. %></td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>