<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-7 px-5 px-sm-0 mx-auto">
      <h3>ジャンル編集</h3>
      <table class="field">
        <tbody>
          <tr>
            <td><%#= f.label "ジャンル名" %></td>
            <td><%#= f.text_field :name %></td>
            <td><%#= f.submit "変更を保存" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>