<div class="container">
  <h3>配送先編集</h3>
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-7 px-5 px-sm-0 mx-auto">
      <teble class="table_field">
        <% @addresses.each do |address| %>
        <tbody>
          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><%= address.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= address.address %></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= address.name %></td>
          </tr>
        </tbody>
        <% end %>
      </teble>
    </div>
  </div>
</div>