<div class="container">
  <h3>ショッピングカート</h3>
    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-7 px-5 px-sm-0 mx-auto">
      <table class="table_field">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>