@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.shop_image {
  background-image: url('/images/home.jpg');
  height: 500px;
  width: 100%;
  background-size: cover;
}

.about_text {
  margin: auto;
}

.item_table {
  width: 800px;
}

.total{
  width: 200px;
}

.title{
  background-color: gray;
}

.order {
  width: 100%;
}